#============= sysinit ==============
allow sysinit camera_device:chr_file getattr;
allow sysinit device:dir { read open };
allow sysinit proc:file write;
allow sysinit self:capability sys_admin;
allow sysinit sysfs_lowmemorykiller:file write;
allow sysinit unlabeled:file getattr;
allow sysinit init:lnk_file read;
allow sysinit kernel:lnk_file read;
allow sysinit proc_dirty_ratio:file write;
allow sysinit sysfs_lowmemorykiller:file open;
allow sysinit ueventd:lnk_file read;
#allow sysinit unlabeled:file execute;
