#============= untrusted_app ==============
allow untrusted_app unlabeled:dir { search getattr };
allow untrusted_app unlabeled:file { read execute open };
